#container{
    height:550px;
    width :1000px;
    background:linear-gradient(black,pink);
}
#calculator{
    height:520px;
    width:320px;
    background-color: hsl(204, 14%, 93%);
    position: relative;
    top: 20px;
    left: 120px;
    
}
#keyboard{
    height: 400px;
    
}
.number,
.operator,
.empty{
    height: 50px;
    width: 50px;
    border-radius:15rem;
    border-width: 0px;
    cursor:pointer;
    margin: 10px;
}
